@layer base {
  html {
    @apply scroll-smooth;
  }
  body::-webkit-scrollbar {
    width: 12px;
  }

  body::-webkit-scrollbar-thumb {
    background: linear-gradient(#4c4aa7, #034897, #4c4aa7);
    border-radius: 4px;
  }
}

