pre {
  @apply p-12 my-4 overflow-x-auto rounded;
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115, 138, 148, 0.4);
}
code .line:last-child {
  display: none;
}

.shiki .highlight {
  background-color: hsl(197, 88%, 94%);
  padding: 3px 0;
}

.shiki .add {
  background-color: hsl(136, 100%, 96%);
  padding: 3px 0;
}

.shiki .del {
  background-color: hsla(355, 78%, 58%, 95%);
  padding: 3px 0;
}

.shiki.focus .line:not(.focus) {
  transition: all 250ms;
  filter: blur(2px);
}

.shiki.focus:hover .line {
  transition: all 250ms;
  filter: blur(0);
}
